
body{
margin:0;
padding:0;
}
.css2 {
    color: darkred;
    float: left;
    font-size: 50px;
    background-color: black;
    border-radius: 100%;
    background-color: black;
    box-shadow: 20px 10px 20px;
}
ul{
float: right;
list-style: none;
}
li{
color: darkred;
float: left;
padding: 30px;
margin: 20px;
font-size: 22px;
}
nav{
height:150px;
background-color: gray;
}
a {
    text-decoration: none;
    color: white;
}
.c1{
background-color: red;
height: 600px;
padding: 150px;
}
.c2{


padding:1px;
margin: 2px;
background-image: url("c1.jpg");
background-color: red;
text-align: center;
color: white;
}